  <div class="section" id="about"> 
    <div class="container">
      <div class="row">
        <div class="col-12">
          
          <h2>What is Pyrolysis?</h2>
          <p>
            Pyrolysis of biomass is a thermochemical process that involves the decomposition of organic materials, such as wood, crop residues, and other plant-based substances, in the absence of oxygen. The process typically occurs at elevated temperatures, usually between 300 and 800 degrees Celsius.
            <br>
            <br>
            During pyrolysis, biomass undergoes a series of complex chemical reactions, leading to the production of three main products:
            <br>
            <br>
            <ul>
              <li>Biochar: This is a carbon-rich solid residue that remains after the volatile components are driven off. Biochar can be used as a soil amendment to improve soil fertility and carbon sequestration.</li>
              <li>Bio-oil: This is a liquid product that contains a mixture of organic compounds. Bio-oil can be further processed and upgraded to produce biofuels or used as a feedstock for various chemical processes.</li>
              <li>Syngas (Synthesis Gas): This is a mixture of hydrogen, carbon monoxide, methane, and other gases. Syngas can be used as a fuel for heat and power generation or as a precursor for the production of synthetic fuels and chemicals.</li>
            </ul>
            <br>
            Pyrolysis has several potential benefits, including the production of bioenergy and biofuels, carbon sequestration in the form of biochar, and the potential for waste reduction by converting biomass residues into useful products. It is considered a promising technology for converting biomass into valuable and sustainable energy sources, with potential applications in bioenergy production and waste management. However, challenges remain, such as optimizing the process to achieve high yields of desired products and addressing the economic feasibility of large-scale pyrolysis systems.
          </p> 

        </div> 
        
        
      </div>    
    </div>
  </div>