  <div class="section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Our Team</h2>

          <div class="row">

            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/vd.png"> 
                <div class="mem-name">Vaibhav Dixit</div>
                <div class="mem-pos">Development & production</div>
                <div class="mem-social">
                  <a href="mailto:vaibhav_d@ch.iitr.ac.in"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.instagram.com/vwv.1d/"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/vaibhav-dixit-8a337b200/"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Vinod kumar</div>
                <div class="mem-pos">Research and Development</div>
                <div class="mem-social">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fa fa-instagram"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-4">
              <div class="mem">
                <img class="mem-dp" src="img/team/default.png"> 
                <div class="mem-name">Dr. B Prasad</div>
                <div class="mem-pos">Professor and Instructor</div>
                <div class="mem-social">
                  <a href="#"><i class="fa fa-envelope"></i></a>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>

          </div>

        </div>  
      </div>    
    </div>    
  </div>